:root {
  --topSpace: 20%;
}

@font-face {
  font-family: "MicroFLF-Bold";
  src: url("../fonts/MicroFLF-Bold.ttf.woff") format('woff');
}

body {
  font-family: MicroFLF-Bold;
}

.grid-container-header {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-container-tiles {
  position: absolute;
  top: var(--topSpace);
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2%;
  grid-gap: 5%;
}

.grid-item {
  border: solid red 1px;
  font-size: 5em;
  text-align: center;
}

.grid-item01 {
  grid-column: span 4;
  height: var(--topSpace);
  margin: 0% 2% 0% 2%;
  font-size: 8em;
}
