:root {
  --topSpace: 20vh;
}

@font-face {
  font-family: "MicroFLF-Bold";
  src: url("../fonts/MicroFLF-Bold.ttf.woff") format('woff');
}

body {
  font-family: MicroFLF-Bold;
}

.grid-container-header {
  position: absolute;
  top: 2%;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.grid-container-tiles {
  position: absolute;
  top: var(--topSpace);
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2% 6% 2% 6%;
  grid-gap: 5%;
}

#grid-item1 {
  grid-column: span 4;
  height: var(--topSpace);
  margin: 0% 2% 0% 2%;
  font-size: 8em;
  text-shadow: 5px 5px 2px white, -5px -5px 2px white, 5px -5px 2px white, -5px 5px 2px white;
  color: black;
}

#grid-item1:hover {
  transition: 0.1s;
  text-shadow: 5px 5px 6px white, -5px -5px 6px white, 5px -5px 6px white, -5px 5px 6px white;
}

.grid-tiles {
  font-size: 5em;
  /* background-color: red; */
  color: white;
}

video {
  /* object-fit: cover; */
  object-fit: contain;
  opacity: 0.8;
}
